<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" media="all"/>
    <meta name="viewport" content="width=320"/>
  </head>
  <body>
    <div class="slider-wrapper">
      <input id="volume" type="range" min="0" max="100" value="<%= @volume %>" step="1">
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
