* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: normal;
  width: 320px;
  height: 454px; /* 1366px for firefox */
  overflow: hidden;
  position: fixed;
}

.slider-wrapper input {
  transform: rotate(-90deg);
  width: 320px;
  height: 454px; /* 1366px for firefox */
}

/* thanks http://danielstern.ca/range.css */

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.35px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
  background: #ff91d8;
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.65px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffbae6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
  background: #ff91d8;
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ff68ca;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
input[type=range]::-ms-fill-upper {
  background: #ff91d8;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
input[type=range]::-ms-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
  height: 13.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ff91d8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffbae6;
}

